:root {
--darkCyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--veryDarkBlue: hsl(212, 21%, 14%);
--darkGrayishBlue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    min-height: 100vh;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.card {
    background-color: white;
    max-width: 600px;
    min-height: 450px;
    display: flex;
    border-radius: 10px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem 0 3rem;
}
.desktop-img {
    width: 300px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mobile-img {
    display: none;
}

.perfume {
    display: inline-block;
    padding: 10% 0 0 0;
    letter-spacing: .5rem;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    width: 75%;
}

.currentPrice {
    color: var(--darkCyan);
}

.oldPrice {
    text-decoration: line-through;
    padding: .6rem 2.5rem 0 0;
    font-size: 1.1rem;
}

.prices {
    display: flex;
}


p, span, .oldPrice {
    color: var(--darkGrayishBlue);
}

p {
    line-height: 1.8rem;
    font-size: 1rem;
}

span {
    text-transform: uppercase;
}

.cart-btn {
    background-color: var(--darkCyan);
    color: white;
    border-radius: 10px;
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    text-align: center;
    padding: 1.3rem;

}

.cart-btn:hover {
    background: hsl(158, 36%, 29%);
    color: white;
    cursor: pointer;
}

.cart-img {
    padding-right: 1rem;
    height: 1.5rem;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    font-size: 11px;
    color: black;
}


@media screen and (max-width: 600px) {

.desktop-img {
    display: none;
}

.mobile-img {
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    width: 90vw;
    min-height: 100vh;
    border-radius: 10px;
    margin: 5rem 0;
}

.attribution {
    display: none;
}
 p {
    padding: 0 0 2rem 0;
}

.prices {
    padding: 0 0 1rem 0;
}

.oldPrice {
    padding: .5rem 6rem 0 0;
}
}